streamlit==1.35.0
langchain==0.2.6
langchain-community==0.2.6
langchain-huggingface==0.0.3
langchain-text-splitters==0.2.2
transformers==4.41.2
sentence-transformers==3.0.1
chromadb==0.5.3
pypdf==4.2.0
torch
